.header{
    display: flex;
    justify-content: space-between;
    background-color: #131416 !important;
    padding: 15px 50px;
    width: 100%;
}


th {
  background-color: #2BB4BA !important;
  color: white !important;
  padding: 15px !important;
  font-size: 18px !important;
  font-weight: 500 !important;
}


@media (max-width: 768px) {

  .header{
    flex-direction: column;
    padding: 15px 10px !important;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

}
