.main-container {
  display: flex;
  justify-content: space-between;
  width: 100%;

  .sidebar {
    width: 10%;
    height: 100vh;
    background-color: #131416;
    color: #f3f4f6;
    display: flex;
    flex-direction: column;
    transition: width 0.3s;
    position: fixed;

    .logo-icon {
      display: none; // hide small logo initially
    }

    &.collapsed {
      width: 70px;

      .logo-text,
      .link-text {
        display: none;
      }

      .logo-icon {
        display: block; // show small logo when collapsed
      }

      .toggle-btn i {
        transform: rotate(180deg);
      }

      .sidebar-menu {
        align-items: center;
      }

      .nav-link {
        justify-content: center !important;
      }

    }

    .sidebar-header {
      padding: 10px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);

      .logo-img {
        width: 150px;
      }

      .logo-icon {
        width: 42px;
      }

      .toggle-btn {
        background: transparent;
        border: none;
        color: #f3f4f6;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }

    .sidebar-menu {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: start;

      .nav-item {
        margin-bottom: 0.5rem;
        width: 100%;
      }

      .nav-link {
        display: flex;
        align-items: center;
        // justify-content: center;
        width: 100%;
        padding: 0.75rem 1rem;
        color: #d1d5db;
        border-radius: 8px;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s ease;

        i {
          font-size: 1.2rem;
          margin-right: 0.75rem;
          color: #9ca3af;
          transition: all 0.3s ease;
        }

        &:hover {
          background-color: rgba(255, 255, 255, 0.1);
          color: #fff;

          i {
            color: #fff;
            transform: scale(1.1);
          }
        }

        &.active {
          background-color: #2BB4BA;
          color: #fff;
          box-shadow: 0 0 8px rgba(37, 99, 235, 0.4);

          i {
            color: #fff;
          }
        }
      }
    }

    .btn-custom {
      background-color: #2BB4BA !important;
    }


    button.btn-danger {
      display: flex;
      align-items: center;
      justify-content: flex-start;

      i {
        font-size: 1.2rem;
      }

      .link-text {
        transition: opacity 0.2s;
      }
    }

    .custom-logout-btn {
      background-color: #392892;
      color: white;
      border: none;
    }

    .custom-logout-btn:hover {
      background-color: #342197;
      /* Slightly darker on hover */
      color: white;
    }
  }

  .rotated {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
  }

  .btn {
    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
  }



  .tab-Details {
    margin-left: 10%;
    width: 90%;
    transition: margin-left 0.3s, width 0.3s;

    &.collapsed {
      margin-left: 70px;
      width: calc(100% - 70px);
    }
  }
}